#output{
  display: none;
}


body {
  text-align: center;
  margin-top:2%;
}

.card {

  font-family: fantasy;
  background-color: grey;
  height:125px;
  font-size:20px;
}

.topbar {
  font-size:30px;
  background-color: lavender;
}

.gal-page {
  font-size: 20px;
  height:500px;
}
